html {
	background-color:gray;
}
body {
	width:100%;
	box-shadow: gray;
	background-color:white;
	display:flex;
	flex-wrap:wrap;
}
@media screen and (min-width: 1200px){
	body {
		width: 1200px;
		margin-right:auto;
		margin-left:auto;
	}
}
.name {
	order:1;
	color:#000000;
	float:right;
	margin-left:10%;
	font-size: 120%;
	font-family:"Courier New", Courier, monospace;
	margin-top:3%;
	position: relative;

}
.middleIMG {
	order:2;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
	width:60%;
	height:60%;
	padding-left:50px;
	border:1px solid #021a40;


}
.work {
	order:3;
	width:100%;
	font-family:"Ubuntu", Arial, sans-serif;
	font-size: 120%;
	list-style-type: none;
	text-align: center;
	margin-left:auto;
	margin-right:auto;

}
.work li {
	display:inline;
	float:left;
	width:30%;
	padding-left:3%;


}
.work img {
	padding-left:5%;
	height:150px;
	width:80%;

}
.contact {
	list-style-type: none;
	font-family:"Ubuntu", Arial, sans-serif;
	padding-top:10%;
	order:0;
	width:40%;
}
.logo {
	width:10%;
	height:15%;
	order:-2;
	float:right;
}